#container{
    margin: 0 auto;
    background-color: green
}
.wrapper{
    max-width: 900px;
    margin: 0 auto;
}
#wrapper3{
    background-color: black;
}

#menue{
    float: right;
    list-style: none;
    margin: 46px 0 0;
    padding: 0;
}

#menue li{
    display: inline;
    
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
    
}