body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

// wrapper
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

// primer contenedor
#content1{
    background-color:$yellow;
    height: 800px;
}
a{
    color: $black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}
.menue{
    float: right;
    list-style: none;
    margin: 46px 0 0;
    padding-top: 35px;
}
.menue li{
    display: inline;
    margin-right: 72px;
    
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
    
}
#logo{
    padding-top: 56px;
}
h2{
    margin: 0;
    margin-top: 130px;
    text-align: left;
}
#tablet{
    float: right;
    margin-top: -295px;
    margin-right: 7%;

}
#iconos{
    margin-top: 40px;
}
.box{
    width: 50%;
}

// segundo contenedor
#container2{
    background-color: $white;
    text-align: center;
    font-size: 1em;
}
.secoundTittle{
    @include secundTittle($black,95px);

}
.list{
    display: inline-block;
    width: 30.33%;
    text-align: left;
    margin-top: 90px;
    p{
        margin-left: 80px;
        margin-top: 19px;
    }
    h3{
        margin-left: 80px;
    }
}

.imageList{
    float: left;
    margin-top: 17px;
}
.tittlegrey{
    color: $letra;
}
// footer
#container3{
    background-color: $black;
    position: relative;
}
.boxp{
    margin-top: 133px;
    position: relative;
    p{
        color: $white;
        position: relative;
        line-height: 2em;
    }
}

.list-footer{
    
    a{
        color: $white;
    }
}
.wrapper1{
    max-width: 780px;
    margin: 0 auto;
}
.secoundTittle2{
    @include secundTittle($yellow,95px);
}
.input{
    
    width: 70%;
    height:50px;
    border-radius: 3px;
    border-color: white;
    border: 0;
}
.button{
    width: 18%;
    height: 51px;
    border-radius: 3px;
    border-color: $yellow;
    background-color: $yellow;
    border: 0;
    margin-left: 22px;
    font-weight: bold;
    font-size: 1em;
    
}

// sprite
.sprite{
    background-image: url(../img/img8.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
}
.sprite-fb{
    
    width: 41px;
    height: 60px;
    background-position: -2px 0px;
    
}
.sprite-rss{
    width: 41px;
    height: 60px;
    background-position: -68px 0px;
}
.sprite-goo{
    width: 41px;
    height: 60px;
    background-position: -131px 0px;
}
.sprite-p{
    width: 41px;
    height: 60px;
    background-position: -200px 0px;
}
.Rsocial{
    text-align: center;
    margin-top: 78px;
}
.listaRS{
    a{
        color: transparent;
    }
}
